@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&family=Raleway:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  list-style: none;
  color: #332424;
}

.headshot img {
  width: 100%;
  border-radius: 12px;
}

.headshot {
  margin: 120px 60px 60px;
}

.top-s {
  background-color: #f6f3ec;
  display: flex;
  gap: 6px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.top-s h1 {
  padding: 120px 0 0 0;
  font-size: 66px;
  text-align: center;
  letter-spacing: -2.5px;
  font-weight: 600;
  line-height: 1;
}

.top-s p {
  font-size: 24px;
  font-weight: 100;
}

.about-me,
.projects,
footer {
  padding: 60px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.projects {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.icon {
  width: 50px;
}

.icon-wrapper {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 12px 24px 0 24px;
}

.projects h3,
footer h4,
.about-me h2 {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: -1px;
}

.projects h3 {
  text-align: center;
  flex-basis: 100%;
}

.card-icon {
  width: 24px;
}

.proj-title-wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
  padding: 0 0 8px 0;
}

.proj-title-wrapper h4 {
  flex: 1;
  font-size: 18px;
}

.proj-img {
  width: 100%;
}

.lower-card {
  padding: 24px;
  box-shadow: 5px 5px 10px -10px;
  background-color: #f6f3ec;
  border-radius: 0 0 12px 12px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 0 0 36px 0;
  max-width: 500px;
}

footer {
  background-color: #000000;
  padding: 48px 24px 24px 24px;
}

footer * {
  color: #f6f3ec;
}

footer a {
  text-decoration: none;
}

footer p {
  text-align: center;
}

.footer-icon {
  width: 35px;
}

.line {
  height: 1px;
  width: 80%;
  background-color: black;
}

.line-wrapper {
  display: flex;
  justify-content: center;
}

@media (min-width: 850px) {
  .headshot img {
    width: 50%;
    max-width: 1400px;
  }
  .headshot picture {
    display: flex;
    justify-content: center;
  }
}

@media (prefers-reduced-motion) {
  .hidden {
    transition: none;
  }
}

.proj-title-wrapper h4 {
  font-weight: 600;
}

.hidden {
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-100%);
  transition: all 1s;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateY(0);
}

.icon:nth-child(2) {
  transition-delay: 100ms;
}

.icon:nth-child(3) {
  transition-delay: 200ms;
}

.icon:nth-child(4) {
  transition-delay: 300ms;
}

.icon:nth-child(5) {
  transition-delay: 400ms;
}

.icon:nth-child(6) {
  transition-delay: 500ms;
}

.icon:nth-child(7) {
  transition-delay: 600ms;
}
